body,ul,input,p{margin: 0;padding: 0;}


body{background: #cecccf;}
img{vertical-align: middle;}
a{text-decoration: none;}
i{font-style:normal;}


#wrap{
	width: 100%;
}
#wrap{
	#header{
		display: block;
		width: 1016px;
		margin: 0 auto;
	}
	
}
#main{
	margin: 0 auto;
	width: 1016px;
	height: 563px;
	background: #fff;
	margin-bottom:47px;
}
#main_l{
	float: left;
	width: 505px;
	height: 563px;
}
#main_l img{
	margin:29px 0 0 84px;
}
#main_r{
	width: 400px;
	height: 563px;
	/*background: yellow;*/
	position: relative;
	float: left;
}
#main_r{
	#dl{
		margin-top:16px;
		display: inline-block;
		width: 196px;
		height: 22px;
		padding-bottom: 15px;
		text-align: center;
		background: #fff;
		color: #000;
	}
}
#main_r{
	#zc{
		margin-top:16px;
		display: inline-block;
		position: absolute;
		width: 196px;
		height: 22px;
		padding-bottom: 15px;
		right: 0;
		text-align: center;
		background: #fff;
		color: #000;
		span{
			width: 55px;
			height: 2px;
			position: absolute;
			right: 70px;
			bottom: 0;
			background: #000;
		}
	}
}
#main_b{
	padding: 30px 0 0 36px;
	width: 362px;
	border: 1px solid #ccc;
	height: 489px;
}
#oDiv_ipt{
	position:relative;
	.ipt{
		width: 297px;
		height: 40px;
		border-radius: 5px;
		border: 1px solid #ccc;
		padding-left:30px;
		outline:none
	}
	.lab{
		display:block;
		visibility:hidden;
		i{
			font-size:12px;
			color:red;
		}
	}
	#oDiv_ipt_img{
		position:absolute;
		top:10px;
		left:10px;
	}
}
#oDiv2_ipt{
	width:362px;
	height:40px;
	position:absolute;
	top:160px;
	#change{
		position:absolute;
		right:40px;
		display:block;
		width:36px;
		font-size:12px;
		color:#000;
	}
	span{
	    display:block;
		width:191px;
		height:40px;
		position:absolute;
		right:40px;
		top:20px;
		border:1px solid #ccc;
		text-align:center;
		line-height:40px;
		font-size:20px;
	}
	#oDiv2_ipt_1{
		position:absolute;
		top:20px;
		width:120px;
		height: 40px;
		border-radius: 5px;
		border: 1px solid #ccc;
		.ipt_1{
			width: 105px;
			height: 40px;
			border-radius: 5px;
			border: 0;
			padding-left:15px;
			outline:none
		}
		.lab_1{
			display:block;
			visibility:hidden;
			i{
				font-size:12px;
				color:red;
			}
		}
	}
}
#oDiv3_ipt{
	position:absolute;
	width:363px;
	top:244px;
	#oDiv3_ipt_1{
		width:162px;
		height: 40px;
		border-radius: 5px;
		border: 1px solid #ccc;
		.ipt_2{
			width: 147px;
			height: 40px;
			border-radius: 5px;
			border: 0;
			padding-left:15px;
			outline:none
		}
		.lab_2{
			display:block;
			visibility:hidden;
			i{
				font-size:12px;
				color:red;
			}
		}
	}
	#oDiv3_ipt_2{
		position:absolute;
		right:40px;
		top:0;
		border:1px solid #ccc;
		width:150px;
		height:40px;
		border-radius: 5px;
	}
	#dm{
		width:150px;
		height:40px;
		outline:none;
		border:0;
		border-radius: 5px;
		background:#fff;
		&:hover{
			background:red;
		}
	}
}
#oDiv4_ipt{
	.ipt_3{
		width: 297px;
		height: 40px;
		border-radius: 5px;
		border: 1px solid #ccc;
		padding-left:30px;
		outline:none
	}
	.lab_3{
		display:block;
		visibility:hidden;
		i{
			font-size:12px;
			color:red;
		}
	}
	position:absolute;
	top:309px;
	#oDiv4_ipt_img{
		position:absolute;
		left:10px;
		top:12px;
	}
}
#oDiv5_ipt{
	.ipt_4{
		width: 297px;
		height: 40px;
		border-radius: 5px;
		border: 1px solid #ccc;
		padding-left:30px;
		outline:none;
	}
	.lab_4{
		display:block;
		visibility:hidden;
		i{
			font-size:12px;
			color:red;
		}
	}
	position:absolute;
	top:374px;
	#oDiv5_ipt_img{
		position:absolute;
		left:10px;
		top:12px;
	}
}
#oDiv6_ipt{
	position:absolute;
	top:449px;
	width: 312px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #e30165;
	#Btn{
		width:312px;
		height:40px;
		border:0;
		color:#fff;
		background:#e30165;
		outline:none;
	}
}
#oDiv7_ipt{
	position:absolute;
	bottom:32px;
	p{
		display:inline-block;
		font-size:12px;
	}
}
#footer{
	height:44px;
	padding-top:78px;
	width: 1016px;
	margin: 0 auto;
	text-align:center;
	a{
		font-size:12px;
		color:#888888;
	}
	p{
		font-size:12px;
		color:#989898;
	}
}

